/* ERROR 404 */

.error__general {
  height: 100%;
  padding-top: 4.8987rem;
  background: linear-gradient(
    90deg,
    rgba(47, 54, 64, 1) 23%,
    rgba(24, 27, 32, 1) 100%
  );
}

.error {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 1rem;
}

.error__moon {
  width: 18.75rem;
  height: 18.75rem;
  margin-inline: auto;
  position: relative;
  top: 0px;
  left: 0px;

  background: linear-gradient(
    90deg,
    rgba(208, 208, 208, 1) 48%,
    rgba(145, 145, 145, 1) 100%
  );
  border-radius: 100%;
  box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
}

.moon__crater {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    rgba(122, 122, 122, 1) 38%,
    rgba(195, 195, 195, 1) 100%
  );
  opacity: 0.6;
}

.moon__crater1 {
  width: 1.875rem;
  height: 5.625rem;

  right: 1.25rem;
  top: 6.25rem;
}

.moon__crater2 {
  width: 1.25rem;
  height: 2.5rem;

  bottom: 0.625rem;
  right: 6.25rem;

  transform: rotate(55deg);
}

.moon__crater3 {
  width: 1.25rem;
  height: 2.8125rem;

  top: 0.625rem;
  left: 5.625rem;
  transform: rotate(250deg);
}

.error__content {
  width: 90%;
  margin-inline: auto;
  font-family: var(--font-s);
  color: var(--white);

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.error__content-title {
  display: none;
}

.error__content-paragraph {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
}
.content-paragraph-span {
  color: var(--blueDark);
  font-size: 1.8em;
  font-weight: 900;
}

.error__content-link {
  width: fit-content;
  padding: 4px 1.5rem;

  color: var(--white);
  font-weight: 900;

  border: 3px solid var(--blueDark);
  border-radius: 1rem;
}

.error__content-link:hover {
  filter: brightness(0.8);
}

.glitch-wrapper {
  width: 100%;
  height: 100%;

  font-family: var(--font-s);
  color: var(--blueDark);
  font-size: 4.5em;
  font-weight: 900;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* glitch */

.glitch {
  position: relative;
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 5px;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;

  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}

/* MEDIA */
@media screen and (min-width: 768px) {
  .error {
    gap: 2.5rem;
  }

  .error__moon {
    width: 37.5rem;
    height: 37.5rem;
    top: 0.625rem;
    left: 0.625rem;
  }

  .moon__crater1 {
    width: 3.75rem;
    height: 9.375rem;

    right: 1.875rem;
    top: 13.125rem;
  }

  .moon__crater2 {
    width: 2.5rem;
    height: 4.375rem;

    bottom: 1.25rem;
    right: 11.25rem;
  }

  .moon__crater3 {
    width: 3.125rem;
    height: 4.6875rem;

    top: 4.375rem;
    left: 6.25rem;
    transform: rotate(250deg);
  }

  .glitch {
    font-size: 2em;
  }

  .error__content-paragraph {
    font-size: 2em;
  }
  .content-paragraph-span {
    font-size: 2.3em;
  }

  .error__content-link {
    padding: 8px 2rem;
    font-size: 1.5em;

    border: 3px solid var(--blueDark);
    border-radius: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .technology-general {
    padding-top: 9rem;
  }

  .error {
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .glitch {
    font-size: 2em;
  }

  .error__content {
    width: 40%;

    justify-content: center;
  }
}
